<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.darilaptop.concentrese_dari">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Concentrese_DaRi"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:parentActivityName=".Concentrese_DaRi"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.darilaptop.concentrese_dari.Concentrese_DaRi" />
        </activity>
        <activity
            android:name=".players"
            android:label="@string/title_activity_players"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".level"
            android:label="@string/title_activity_level"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gameeasy"
            android:label="@string/title_activity_gameeasy"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".playerone"
            android:label="@string/title_activity_playerone"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
